* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #969797;
    color: #212529;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
