.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.question {
    font-size: 1.8rem;
}

.answer{
    display: flex;
    justify-content: space-around;
}